{% extends "base.html" %}
{% block head_title %}志工服務系統{% endblock %}
{% block style %}
<style>
  .tophero {
      background-position: center;
      background-repeat:  no-repeat;
      background-size:  cover;
      background-image: url('/img/sciwork-conf2023.jpg');
  }
  .tophero .title,
  .tophero .subtitle {
      text-shadow: 1px 1px 2px #000;
      color: #fff !important;
  }
</style>
{%endblock%}
{% block body %}
<section class="hero is-large tophero">
    <div class="hero-body">
      <p class="title">
        Volunteering sciwork
      </p>
      <p class="subtitle">sciwork 志工第一站</p>
    </div>
</section>
<section class="section">
  <div class="container">
      <div class="columns">
          <div class="column"></div>
          <!--
          <div class="column is-4">
              <article class="message is-warning">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-tree"></i></span> 行政組整地期招募</p>
                  </div>
                  <div class="message-body">
                    行政組今年無 2023 休耕期，預計在 2023.09 進入整地期，整地期間需要大量的腦力計算模擬與規劃接下來的計畫項目，整地期預計招募５位成員（或額外３位候補），預計在 2023.09.18 後開始運作。→ <a href="/docs/zh-TW/secretary_team/recruit/#2023-preparation"><strong>整地期招募說明</strong></a>
                  </div>
              </article>
          </div>
          -->
          <div class="column is-4">
              <article class="message is-warning">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-tree"></i></span> 2024 籌備團隊已開始招募</p>
                  </div>
                  <div class="message-body">
                    請參考各組的招募資訊與遴選方式，選擇感興趣的組別加入！→ <a href="/project/2024/"><strong>2024 組別列表</strong></a>
                  </div>
              </article>
          </div>
          <div class="column is-4">
              <article class="message is-success">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-newspaper"></i></span> 不錯過資訊</p>
                  </div>
                  <div class="message-body">
                      除了加入籌備團隊，還可訂閱電子報密切注意各項公告 → <a href="https://secretary.coscup.org/subscribe/coscup"><strong>訂閱電子報</strong></a>
                  </div>
              </article>
          </div>
          <div class="column"></div>
      </div>
      <div class="columns">
          <div class="column"></div>
          <div class="column">
            <div class="has-text-centered">
                <a href="/project/2024" class="button is-large is-info is-outlined is-light is-rounded">
                    <span class="icon"><i class="far fa-check-circle"></i></span>
                    <span>加入志工夥伴</span>
                </a>
            </div>
          </div>
          <!--
          <div class="column">
            <div class="has-text-centered">
                <a href="/docs/zh-TW/secretary_team/recruit/#2023-preparation" class="button is-large is-warning is-outlined is-light is-rounded">
                    <span class="icon"><i class="fas fa-tree"></i></span>
                    <span>行政組整地期招募</span>
                </a>
            </div>
          </div>
          -->
          <div class="column">
            <div class="has-text-centered">
                <a href="/docs/zh-TW/about_coscup/how_to_participate/" class="button is-large is-warning is-outlined is-light is-rounded">
                    <span class="icon"><i class="fas fa-book"></i></span>
                    <span>如何參與、準備 sciwork</span>
                </a>
            </div>
          </div>
          <div class="column">
            <div class="has-text-centered">
                <a href="/schedule/2023" class="button is-large is-success is-outlined is-light is-rounded">
                    <span class="icon"><i class="far fa-list-alt"></i></span>
                    <span>2023 議程表</span>
                </a>
            </div>
          </div>
          <div class="column">
            <div class="has-text-centered">
                <a href="https://secretary.coscup.org/subscribe/coscup"
                   target="_blank"
                   class="button is-large is-link is-outlined is-light is-rounded">
                    <span class="icon"><i class="far fa-newspaper"></i></span>
                    <span>訂閱電子報</span>
                </a>
            </div>
          </div>
          <div class="column"></div>
      </div>
      <!--
        <div class="columns">
          <div class="column">
              <article class="message is-success">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-id-badge"></i></span> 關於 COSCUP</p>
                  </div>
                  <div class="message-body">
                      <p><a href="https://coscup.org">COSCUP</a> 開源人年會以大拜拜的研討會致力促進開源社群發展，每年暑期於台灣舉辦。在過往十數年的歷史裡，每年不同的籌辦成員碰撞出不同的火花，讓 COSCUP 常保活力十足，繼續為開源社群服務。</p>
                      <p>登錄成為 COSCUP 志工，每屆活動開始時，就有機會一起參與籌備。</p>
                  </div>
              </article>
          </div>
          <div class="column">
              <article class="message is-success">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-satellite-dish"></i></span> 成為志工夥伴</p>
                  </div>
                  <div class="message-body">
                      <p>來這裡發揮你的專長與熱情，一起籌辦年度大型研討會活動，來這裡實驗、實現你的想法與規劃！</p>
                  </div>
              </article>
          </div>
          <div class="column">
              <article class="message is-success">
                  <div class="message-header">
                      <p><span class="icon"><i class="fas fa-robot"></i></span> 行政效率+</p>
                  </div>
                  <div class="message-body">
                      <p>捨棄 Google 表單複製貼上資訊，串接 API 於服務、報到同步。</p>
                  </div>
              </article>
          </div>
      </div>
    -->
    </div>
</section>
<section class="section" style="background-color:#FBFBFD;">
  <div class="container">
    <div class="columns">
        <div class="column">
            <div class="box">
                <div class="content">
                    <h2>sciwork 是什麼？</h2>
                    <p>
                        <div align="center">
                            <img width="20%" src="/img/sciwork-192X192.png">
                        </div>
                    </p>
                    <p>
                        The sciwork is a community for researchers and engineers to share and discuss computer code for scientific, numerical, and engineering work. We believe in the power of openness, and use open source as a means to advance software development for computational sciences.
                    </p>
                    <p>
                        As information technology blending in every aspect of human activities, proficient use of programming languages is a prerequisite for conducting most research and engineering work. As the practitioners observed, the work evolved into a hierarchy of skills that take years to acquire. We need a thorough understanding of the problem to solve as well as the mastery of computer programming to deliver reliable solution. It is overly challenging since either of both is already complicated. Sciwork would like to get involved in the global effort to solve the issue of code development entangling with science and engineering.
                    </p>
                    <p>
                        Our activities include but are not limited to coding sprints, hands-on tutorials, and technical talks and conferences (ex, sciwork 2023), on-line or off-line. You are welcome to join us!
                    </p>
                    <div class="has-text-right">
                        <a href="https://sciwork.dev/"
                           target="_blank"
                           class="button is-small is-light is-info is-outlined is-rounded">
                            前往 sciwork 官網
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script>
    gtag('event', 'conversion', {'send_to': 'AW-11007060379/BrfoCObe34IYEJvTyYAp'});
    (function() {
        let li = [];
        document.querySelectorAll('.randlist li').forEach(item => {
            li.push(item.outerHTML);
        });
        let len = li.length;
        let content = document.getElementsByClassName('randlist')[0];
        content.innerHTML= "";
        for(i=0;i<len;i++){
            let random = Math.floor(Math.random()*(li.length));
            content.innerHTML += (li[random]);
            li.splice(random, 1);
        };
    })();
</script>
{% endblock %}
